<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Toy</servlet-name>
        <servlet-class>com.project.controller.ToyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingController</servlet-name>
        <servlet-class>com.project.controller.ShippingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThankyouController</servlet-name>
        <servlet-class>com.project.controller.ThankyouController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Toy</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingController</servlet-name>
        <url-pattern>/shippingAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThankyouController</servlet-name>
        <url-pattern>/ThankyouController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
